{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-12">
	{%if 'username' in login_session%}
		<a href="{{url_for('newProduct',category_name=category_name)}}">
			<button>New Product</button>
		</a>
	{%endif%}
	</div>
</div>
{%- for entry in products -%}
<div class="col-md-12">
<a href="{{url_for('showProductDetail',category_name=category_name,product_name=entry.name)}}">{{entry.name.capitalize()}}{#<img class="img-responsive" src="{{entry.image}}">#}</a>
</div>
{%- endfor -%}
{% endblock %}