{%extends "baseClean.html" %}
{%block content%}
<h2>User sign Up</h2>
<form method="POST">
	Email:<input type="text" name="email" value="{{email}}" placeholder="Email">
	<br>
	<label>Hint: Email address.</label>
	<br>
	<label class="error">&nbsp{{error_email}}</label>
	<br>

	Name:<input type="text" name="username" value="{{username}}" placeholder="Name">
	<br>
	<label>Hint: Use at lease 8 digits, use at least an upper case letter, a lower case letter and a number.</label>
	<br>
	<label class="error">&nbsp{{error_username}}</label>
	<br>
	

	Password:<input type="password" name="password" value="" placeholder="Password">
	<br>
	<label>Hint: Use at lease 8 digits, use at least an upper case letter, a lower case letter and a number.</label>
	<br>
	<label class="error">&nbsp{{error_password}}</label>
	<br>

	Verification:<input type="password" name="verify" value="" placeholder="Repeat Password">
	<br>
	<label>Hint: Use at lease 8 digits, use at least an upper case letter, a lower case letter and a number.</label>
	<br>
	<label class="error">&nbsp{{error_verify}}</label>
	<br>

	<input type="submit" value = "Submit">
	<a href="{{request.referrer}}"><button type="button">Back</button></a>

</form>

{%endblock%}

